body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #eaf2f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.btn.btn-normal {
    background-color: black;
}

.btn.btn-pref {
    background-color: orange;
}

.card {
    background: white;
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

h2 { color: #2c3e50; }

.painel-controle {
    background: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.numero-atual {
    font-size: 60px;
    font-weight: bold;
    color: #27ae60;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.btn-chamar { background-color: #27ae60; }
.btn-chamar:hover { background-color: #219150; }

.btn-finalizar { background-color: #c0392b; }
.btn-finalizar:hover { background-color: #a93226; }

.btn-disabled { background-color: #ccc; cursor: not-allowed; }